body,
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px }

.container {
    background: #eee;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.card {
    background: ;
    margin: auto;
    width: 75%;
}