html,
body {
  width: 100%;
  height: 100%;
  background: gray;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}


a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}


/* nav   */


#mainNav ul li a {
	font-size: 16px;
}


/*這段沒有 work */
/*這段沒有 work */
/*這段沒有 work */
/*這段沒有 work */
#mainNav > ul > li > a.hover {
	color: #654c0e !important;
	font-size: 24px;
	background-color: transparent;
}
/*這段沒有 work *//*這段沒有 work *//*這段沒有 work */



.container {
	margin: auto;
}


header {
	height: auto;
	margin: auto;
}

header #myH1 {
	font-size: 24px;
	color: #fcbd20;
	text-align: center;
}


section {
	padding: 20px 20px 20px 20px;
}


.section2 {
  position: relative;
  padding: 30px 0;
}



.row

#logo {
	margin: 10px;
	width: 100px;
}



.card {
	border-radius: 3px;
}



		form
***/

form #accountFomr{
	width: 100%;
	height: auto;
}


.input-group {
	width: 80%;
	margin: 5px;
	padding: 5px;
}

/***
		input
***/

input {
	background: #e5e5e5;
	border-radius: 5px;
	padding: 3px 3px 3px 10px;
	font-size: 12px;
	color: #555;
	width: 100%;
}


label {
	font-size: 11px;
}

/***
		select
***/
select {
	width: 100px;
	height: 30px;
	padding: 0 22px;	
}

footer {
	padding: 15px;
	font-size: 14px;
}